<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.murthyavanithsa.wishlistapp">
    <uses-sdk android:minSdkVersion="2.2"></uses-sdk>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.murthyavanithsa.wishlistapp.SignUp"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.murthyavanithsa.wishlistapp.SignInActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            </intent-filter>
        </activity>
        <activity
            android:name=".UserTasks"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            </intent-filter>
        </activity>
        <activity
            android:name=".AddTasks"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            </intent-filter>
        </activity>
        <!--<activity android:name=".CompletedTasks"-->
            <!--android:label="Completed Tasks"-->
            <!--android:theme="@style/AppTheme.ActionBar">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--&lt;!&ndash;<category android:name="android.intent.category.LAUNCHER" />&ndash;&gt;-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <!--<activity android:name=".PendingTasks"-->
            <!--android:label="Pending Tasks"-->
            <!--android:theme="@style/AppTheme.ActionBar">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--&lt;!&ndash;<category android:name="android.intent.category.LAUNCHER" />&ndash;&gt;-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <!--<activity android:name=".Logout"-->
            <!--android:label="@string/app_name"-->
            <!--android:theme="@style/AppTheme">-->

        <!--</activity>-->

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="0e428934aeb9d25b48849196c5269740766519fc" />
    </application>
</manifest>
